{% extends "base.html" %}
{% block body %}
<div class="min-h-screen bg-gray-700">
    <div class="flex flex-col min-h-screen bg-gray-700">
        <!-- Page heading -->
        <div class="bg-gray-800 ">
            <header class="py-8 md:mt-16">
                <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 xl:flex xl:items-center xl:justify-between">
                    <div class="flex-1 min-w-0">
                        <h1 class="mt-2 text-2xl font-bold leading-7 text-white sm:text-3xl sm:truncate">Zainul Ariffin
                        </h1>
                    </div>
                </div>
            </header>
        </div>

        <div class="flex flex-col">
            <div class="grid px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            </div>
        </div>
    </div>
</div>
<script>
</script>
{% endblock %}