{% extends "base.html" %}
{% block body %}
<div class="min-h-screen bg-white">
    <div class="flex flex-col min-h-screen bg-gwhite">
        <!-- Page heading -->
        <div class="bg-gray-800 ">
            <header class="py-8 md:mt-16">
                <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 xl:flex xl:items-center xl:justify-between">
                    <div class="flex-1 min-w-0">
                        <h1 class="mt-2 text-2xl font-bold leading-7 text-white sm:text-3xl sm:truncate">Zainul Ariffin
                        </h1>
                    </div>
                </div>
            </header>
        </div>
        <!--activity: dropdown
            preferredgender: radio
            location: string ✅
            startdate: datetime
            enddate: datetime
            roomsize: int -->
        <div class="flex flex-col">
            <div class="grid mx-auto max-w-7xl">
                <div class="w-screen px-6 mx-auto max-w-7xl lg:px-8">
                    <form class="w-full space-y-8 divide-y divide-gray-200">
                        <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                            <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
                                <div>
                                    <h3 class="text-lg font-medium leading-6 text-gray-900">Create Game</h3>
                                </div>
                                <div class="space-y-6 sm:space-y-5">
                                    <div
                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                        <label for="first-name"
                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                            Location </label>
                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                            <input type="text" name="first-name" id="first-name" placeholder="Fuchun CC"
                                                autocomplete="given-name"
                                                class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm placeholder:italic focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm">
                                        </div>
                                    </div>

                                    <div
                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                        <label for="last-name"
                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                            Max Room Size </label>
                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                            <input type="number" name="last-name" id="last-name" placeholder="4"
                                                autocomplete="family-name"
                                                class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm placeholder:italic focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm">
                                        </div>
                                    </div>

                                    <div
                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                        <label for="country"
                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                            Activity </label>
                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                            <select id="country" name="country" autocomplete="country-name"
                                                class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm">
                                                <option>Badminton</option>
                                                <option>Table Tennis</option>
                                                <option>Tennis</option>
                                                <option>Soccer</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div
                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                        <label for="country"
                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                            Gender </label>
                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                            <select id="country" name="country" autocomplete="country-name"
                                                class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div
                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                        <label for="street-address"
                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> From
                                        </label>
                                        <div class="mt-1 sm:mt-0 sm:col-span-1">
                                            <div class="relative">
                                                <div
                                                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                    <svg aria-hidden="true"
                                                        class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                                        fill="currentColor" viewBox="0 0 20 20"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>
                                                </div>
                                                <input datepicker datepicker-autohide type="text"
                                                    class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm pl-10 p-2.5"
                                                    placeholder="Select date">
                                            </div>
                                        </div>
                                        <div class="mt-1 sm:mt-0 sm:col-span-1">
                                            <input type="text" name="last-name" id="last-name" placeholder="18:00"
                                                autocomplete="family-name"
                                                class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm placeholder:italic focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm">
                                        </div>
                                    </div>

                                    <div
                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                        <label for="datepickerTo"
                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> To
                                        </label>
                                        <div class="mt-1 sm:mt-0 sm:col-span-1">
                                            <div class="relative">
                                                <div
                                                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                    <svg aria-hidden="true"
                                                        class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                                        fill="currentColor" viewBox="0 0 20 20"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>
                                                </div>
                                                <input datepicker datepicker-autohide type="text" id="datepickerTo"
                                                    class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm pl-10 p-2.5"
                                                    placeholder="Select date">
                                            </div>
                                        </div>
                                        <div class="mt-1 sm:mt-0 sm:col-span-1">
                                            <input type="text" name="timeTo" id="timeTo" placeholder="18:00"
                                                autocomplete="family-name"
                                                class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm placeholder:italic focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pt-5">
                            <div class="flex justify-end">
                                <button type="submit"
                                    class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    const datepickerFrom = document.getElementById('datepickerFrom');
    new Datepicker(datepickerFrom, {
        autohide: true,
        format: 'dd/mm/yyyy',
        language: 'en',
        orientation: 'bottom',
        todayHighlight: true,
        weekStart: 1,
    });

    const datepickerTo = document.getElementById('datepickerTo');
    new Datepicker(datepickerTo, {
        autohide: true,
        format: 'dd/mm/yyyy',
        language: 'en',
        orientation: 'bottom',
        todayHighlight: true,
        weekStart: 1,
    }); 
</script>
{% endblock %}