{% extends "base.html" %}
{% block body %}
<div class="min-h-screen bg-gray-700">
    <div class="flex flex-col min-h-screen bg-gray-700">
        <!-- Page heading -->
        <div class="bg-gray-800 ">
            <header class="py-8 md:mt-16">
                <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 xl:flex xl:items-center xl:justify-between">
                    <div class="flex-1 min-w-0">
                        <h1 class="mt-2 text-2xl font-bold leading-7 text-white sm:text-3xl sm:truncate">Zainul Ariffin
                        </h1>
                    </div>
                </div>
            </header>
        </div>

        <div class="flex flex-col">
            <!-- <div class="grid px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
                MAP
            </div> -->
            <div class="grid px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
                <ul role="list" class="grid grid-cols-1 gap-6 pt-6 sm:grid-cols-2 lg:grid-cols-3">
                    <li class="col-span-1 bg-white divide-y divide-gray-200 rounded-lg shadow">
                        <div class="p-6 text-center">
                            <h3 class="text-sm font-medium text-gray-900">Create a game</h3>
                            <p class="mt-1 text-sm text-gray-500">Play with friends or public</p>
                            <div class="mt-4">
                                <button type="button"
                                    class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    <!-- Heroicon name: solid/plus -->
                                    <svg class="w-5 h-5 mr-2 -ml-1" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    New Project
                                </button>
                            </div>
                        </div>
                    </li>

                    <li class="col-span-1 bg-white divide-y divide-gray-200 rounded-lg shadow">
                        <div class="flex items-center justify-between w-full p-6 space-x-6">
                            <div class="flex-1 truncate">
                                <div class="flex items-center space-x-3">
                                    <h3 class="text-sm font-medium text-gray-900 truncate">Casual Room (2/4)</h3>
                                    <span
                                        class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Badminton</span>
                                </div>
                                <p class="mt-1 text-sm text-gray-500 truncate">Fuchun CC</p>
                            </div>
                            <img class="flex-shrink-0 w-10 h-10 bg-gray-300 rounded-full"
                                src="https://cdn-icons-png.flaticon.com/512/447/447840.png" alt="">
                        </div>
                        <div>
                            <div class="flex -mt-px divide-x divide-gray-200">
                                <div class="flex flex-1 w-0">
                                    <a href="#"
                                        class="relative inline-flex items-center justify-center flex-1 w-0 py-4 -mr-px text-sm font-medium text-gray-700 border border-transparent rounded-bl-lg hover:text-gray-500">
                                        <!-- Heroicon name: solid/mail -->
                                        <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                                        </svg>
                                        <span class="ml-3">Join Room</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-span-1 bg-white divide-y divide-gray-200 rounded-lg shadow">
                        <div class="flex items-center justify-between w-full p-6 space-x-6">
                            <div class="flex-1 truncate">
                                <div class="flex items-center space-x-3">
                                    <h3 class="text-sm font-medium text-gray-900 truncate">Casual Room (2/4)</h3>
                                    <span
                                        class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Badminton</span>
                                </div>
                                <p class="mt-1 text-sm text-gray-500 truncate">Fuchun CC</p>
                            </div>
                            <img class="flex-shrink-0 w-10 h-10 bg-gray-300 rounded-full"
                                src="https://cdn-icons-png.flaticon.com/512/447/447840.png" alt="">
                        </div>
                        <div>
                            <div class="flex -mt-px divide-x divide-gray-200">
                                <div class="flex flex-1 w-0">
                                    <a href="#"
                                        class="relative inline-flex items-center justify-center flex-1 w-0 py-4 -mr-px text-sm font-medium text-gray-700 border border-transparent rounded-bl-lg hover:text-gray-500">
                                        <!-- Heroicon name: solid/mail -->
                                        <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                                        </svg>
                                        <span class="ml-3">Join Room</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-span-1 bg-white divide-y divide-gray-200 rounded-lg shadow">
                        <div class="flex items-center justify-between w-full p-6 space-x-6">
                            <div class="flex-1 truncate">
                                <div class="flex items-center space-x-3">
                                    <h3 class="text-sm font-medium text-gray-900 truncate">Casual Room (2/4)</h3>
                                    <span
                                        class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Badminton</span>
                                </div>
                                <p class="mt-1 text-sm text-gray-500 truncate">Fuchun CC</p>
                            </div>
                            <img class="flex-shrink-0 w-10 h-10 bg-gray-300 rounded-full"
                                src="https://cdn-icons-png.flaticon.com/512/447/447840.png" alt="">
                        </div>
                        <div>
                            <div class="flex -mt-px divide-x divide-gray-200">
                                <div class="flex flex-1 w-0">
                                    <a href="#"
                                        class="relative inline-flex items-center justify-center flex-1 w-0 py-4 -mr-px text-sm font-medium text-gray-700 border border-transparent rounded-bl-lg hover:text-gray-500">
                                        <!-- Heroicon name: solid/mail -->
                                        <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                                        </svg>
                                        <span class="ml-3">Join Room</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-span-1 bg-white divide-y divide-gray-200 rounded-lg shadow">
                        <div class="flex items-center justify-between w-full p-6 space-x-6">
                            <div class="flex-1 truncate">
                                <div class="flex items-center space-x-3">
                                    <h3 class="text-sm font-medium text-gray-900 truncate">Casual Room (2/4)</h3>
                                    <span
                                        class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Badminton</span>
                                </div>
                                <p class="mt-1 text-sm text-gray-500 truncate">Fuchun CC</p>
                            </div>
                            <img class="flex-shrink-0 w-10 h-10 bg-gray-300 rounded-full"
                                src="https://cdn-icons-png.flaticon.com/512/447/447840.png" alt="">
                        </div>
                        <div>
                            <div class="flex -mt-px divide-x divide-gray-200">
                                <div class="flex flex-1 w-0">
                                    <a href="#"
                                        class="relative inline-flex items-center justify-center flex-1 w-0 py-4 -mr-px text-sm font-medium text-gray-700 border border-transparent rounded-bl-lg hover:text-gray-500">
                                        <!-- Heroicon name: solid/mail -->
                                        <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                                        </svg>
                                        <span class="ml-3">Join Room</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col-span-1 bg-white divide-y divide-gray-200 rounded-lg shadow">
                        <div class="flex items-center justify-between w-full p-6 space-x-6">
                            <div class="flex-1 truncate">
                                <div class="flex items-center space-x-3">
                                    <h3 class="text-sm font-medium text-gray-900 truncate">Casual Room (2/4)</h3>
                                    <span
                                        class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Badminton</span>
                                </div>
                                <p class="mt-1 text-sm text-gray-500 truncate">Fuchun CC</p>
                            </div>
                            <img class="flex-shrink-0 w-10 h-10 bg-gray-300 rounded-full"
                                src="https://cdn-icons-png.flaticon.com/512/447/447840.png" alt="">
                        </div>
                        <div>
                            <div class="flex -mt-px divide-x divide-gray-200">
                                <div class="flex flex-1 w-0">
                                    <a href="#"
                                        class="relative inline-flex items-center justify-center flex-1 w-0 py-4 -mr-px text-sm font-medium text-gray-700 border border-transparent rounded-bl-lg hover:text-gray-500">
                                        <!-- Heroicon name: solid/mail -->
                                        <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                                        </svg>
                                        <span class="ml-3">Join Room</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- More people... -->
                </ul>
            </div>
        </div>


    </div>
</div>
<script>
</script>
{% endblock %}